@charset "UTF-8";
.wrapper{
	.content{
		div{
			position:relative;
			z-index:50;
		}
		position:fixed;
		padding:5px 10px;
		top:50%;
		transform: translateY(-55%);
	    right: 0;
	    left: 0;
		text-align:center;
		color: white;
		.name{
			margin:12px 0;
			h1{
				font-weight: 700;
				font-size: 40px;
				letter-spacing: 9px;
				font-style: italic;
				font-family: 华文新魏;
			}
		}
		.saying{
			h2{
				height:20px;
				margin-bottom: 20px;
			    font-weight: normal;
			    font-size: 15px;
			    letter-spacing: .12em;
			    font-style: italic;
			    line-height:20px;
			}
		}
		.navigation{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 auto;
			.indexRouter{
				width: 100px;
				margin: 10px;
				padding: 5px;
			    border-radius: 5px;
			    text-align: center;
			    cursor: pointer;
			    color: white;
			    transition: 0.5s;
			    :global(.iconfont){
			    	display: block;
					font-size: 60px;
					box-shadow: 0 0 2px rgba(255, 255, 255, .8);
					border-radius: 8px;
					padding: 5px;
			    }
			    .indexMessage{
					display: block;
				   	margin-top: 10px;
				   	font-family: "Microsoft Yahei";
			    }
			    &:hover{
			    	background: rgba(255,255,255,.1);
			    }
			}
		}
	}
}